pkgbase = dddvb-dkms
	pkgdesc = GIT-MASTER-Dev-Pack Digital Devices driver package as DKMS
	pkgver = 0.9.38
	pkgrel = 1
	url = https://github.com/ejjoman/dddvb
	install = dddvb-dkms.install
	arch = any
	license = GPL2
	makedepends = linux-headers
	depends = dkms
	provides = dddvb-dkms
	conflicts = digitaldevices-dvb-drivers
	conflicts = dvbsky-dvb-drivers
	conflicts = technotrend-dvb-drivers
	replaces = digitaldevices-dvb-drivers
	replaces = dvbsky-dvb-drivers
	replaces = technotrend-dvb-drivers
	source = https://github.com/ejjoman/dddvb
	sha256sums = SKIP

pkgname = dddvb-dkms

