pkgbase = dddvb-dkms
	pkgdesc = Official Digital Devices driver package as DKMS
	pkgver = 0.9.33
	pkgrel = 1
	url = http://download.digital-devices.de
	install = dddvb-dkms.install
	arch = any
	license = GPL2
	makedepends = linux-headers
	depends = dkms
	provides = dddvb-dkms
	conflicts = digitaldevices-dvb-drivers
	conflicts = dvbsky-dvb-drivers
	conflicts = technotrend-dvb-drivers
	replaces = digitaldevices-dvb-drivers
	replaces = dvbsky-dvb-drivers
	replaces = technotrend-dvb-drivers
	source = https://github.com/DigitalDevices/dddvb/archive/0.9.33.tar.gz
	sha256sums = 6dd5c92fa92a9346d48bb9dff270ffed5e92ab5bf4c51cef1c37fb699659814d

pkgname = dddvb-dkms

